<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>แก้ไขตึก</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script async type="text/javascript" src="/editBuild.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body>
      <section class="hero is-primary">
          <div class="hero-body">
              <div class="container" style="width: 50%; right: 0; padding: 0;margin-right: 0;" align="right">
                  <h2> <%= user.type %> <a href="/userRout" style="right: 0;" class="btn btn-success">logout</a></h2>
                  </div>
            <div class="container">
              <h1 class="title">
                      <img src="https://lh5.googleusercontent.com/5uHYeEyLH244U5MvpngbUQUqfCzl0GVOPBKqVNObz7LkjOPKMazSxPrKL-1ztyNTpYMdheKgy3pM9pEcEquSj6hMw_H997VLIhQszJblblDpbs3YIgeWLbDgIWLOOLRn46qkFXNO" align="center" width="10%" height="10%">&emsp; แก้ไขตึก <br clear="left">
              </h1>
            </div>
          </div>
  </section>
    <div class="container">
        <form method="post" id="editBuild" action="/buildRout/updatebuilding/<%= build._id %>/<%= user._id%>">
          <div class="form-group">
            <label for="item">รหัสตึก</label>
            <input type="text" class="form-control" id="ID" name="ID" value="<%= build.ID %>">
          </div>
          <div class="form-group">
              <label for="item">ชื่อ</label>
              <input type="text" class="form-control" id="name" name="name" value="<%= build.name %>">
            </div>
            <div class="form-group">
                <label for="item">จำนวนชั้น</label>
                <input type="text" class="form-control" id="floor" name="floor" value="<%= build.floor %>">
              </div>
            
              <div class="text-center">
                <br>
                <button type="button" onclick="checkEditbuild()" class="button is-success  " >บันทึก</button>
                <a class="btn btn-danger " href="/buildRout/building/<%= user._id%>">ถอยกลับ</a>
              </div>
        </form>
    </div>
  </body>
</html>