<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>เเก้ไขผู้ใช้</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script async type="text/javascript" src="/editusers.js"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  </head>
  <body>
      <section class="hero is-primary">
          <div class="hero-body">
              <div class="container" style="width: 50%; right: 0; padding: 0;margin-right: 0;" align="right">
                  <h2> <%= id.type %> <a href="/userRout" style="right: 0;" class="btn btn-success">logout</a></h2>
                  </div>
            <div class="container">
              <h1 class="title">
                      <img src="https://lh5.googleusercontent.com/5uHYeEyLH244U5MvpngbUQUqfCzl0GVOPBKqVNObz7LkjOPKMazSxPrKL-1ztyNTpYMdheKgy3pM9pEcEquSj6hMw_H997VLIhQszJblblDpbs3YIgeWLbDgIWLOOLRn46qkFXNO" align="center" width="10%" height="10%">&emsp; แก้ไขผู้ใช้ <br clear="left">
              </h1>
            </div>
          </div>
  </section>
    <div class="container">
        <form method="post" id="us" action="/userRout/update/<%= user._id %>/<%= id._id%>">
          <div class="form-group">
            <label for="item">Username</label>
            <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>">
          </div>
          <div class="form-group">
            <label for="item">Password</label>
            <input type="text" class="form-control" id="password" name="password" value=" <%= password%>">
          </div>
          <div class="form-group">
              <label for="item">ชื่อ</label>
              <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>">
            </div>
            <div class="form-group">
                <label for="item">นามสกุล</label>
                <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>">
              </div>
            <div class="form-group">
              <label for="item">สถานะ</label>
              <select name="type" id="type" class="form-control" value="<%= user.type %>">
                <option value="<%= user.type %>" hidden ><%= user.type %></option>
                <option value="นิสิต">นิสิต</option>
                <option value="อาจารย์">อาจารย์</option>
                <option value="เจ้าหน้าที่">เจ้าหน้าที่</option>
              </select>
            </div>
            <div class="text-center">
              <br>
              <button type="button" onclick="checknull()" class="button is-success" >บันทึก</button>
              <a class="btn btn-danger " href="/userRout/users/<%=user._id%>">ถอยกลับ</a>
            </div>
        </form>
    </div>
  </body>
</html>