<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>กลุ่มเรียน</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="width: 50%; right: 0; padding: 0;margin-right: 0;" align="right">
                <h2>
                    <%= user.type %> <a href="/userRout" style="right: 0;" class="btn btn-success">logout</a></h2>
            </div>
            <div class="container">
                <h1 class="title">
                    <img src="https://lh5.googleusercontent.com/5uHYeEyLH244U5MvpngbUQUqfCzl0GVOPBKqVNObz7LkjOPKMazSxPrKL-1ztyNTpYMdheKgy3pM9pEcEquSj6hMw_H997VLIhQszJblblDpbs3YIgeWLbDgIWLOOLRn46qkFXNO" align="center" width="10%" height="10%">&emsp; กลุ่มเรียน
                    <br clear="left">
                </h1>
            </div>
            <div align="right">
                ปีการศึกษา
                <%= semester.year %> ภาคเรียน
                    <%= semester.semester %>
            </div>

        </div>
    </section>



    <div class="container-fluid" style="margin-bottom: 100%;margin: 0%;">
        <div class="row" style="height: 543px;">
            <nav class="col-sm-2" style="background-color: black; width: 10%;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="/userRout/users/<%= user._id%>">จัดการบุคลากร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/buildRout/building/<%= user._id%>">จัดการตึก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/roomRout/room/<%= user._id%>">จัดการห้อง</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/subjectRout/subjects/<%= user._id%>">รายวิชา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/semesterRout/semester/<%= user._id%>">ปีการศึกษา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/examRout/exam/<%= user._id%>">การสอบ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/groupRout/group/<%= user._id%>">กลุ่มเรียน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/userRout/staff/<%= user._id%>">คุมสอบ</a>
                    </li>



                </ul>
            </nav>
            <center style="width: 83%;">

                <div class="container">

                    <% for(var x=0; x < sb.length; x++) { %>


                        <% for(var z=0; z < subject.length; z++) { %>



                            <%if(subject[z]._id.equals(sb[x]) ) { %>
                                <label for=""><%= subject[z].ID%> <%= subject[z].name%></label>
                                <% } %>


                                    <% } %>
                                        <table class="table table-striped">


                                            <thead>
                                                <tr>
                                                    <td><b>รหัสวิชา</b></td>
                                                    <td><b>กล่มเรียน</b></td>
                                                    <td><b>อาจารย์</b></td>
                                                    <td><b>นิสิต</b></td>
                                                    <td colspan="1"></td>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <% for(var i=0; i < group.length; i++) { %>

                                                    <%if(group[i].subject._id.equals(sb[x])) { %>

                                                        <tr>
                                                            <td>
                                                                <%= group[i].subject.ID %>
                                                            </td>
                                                            <td>
                                                                <%= group[i].group %>
                                                            </td>
                                                            <td><a href="/groupRout/groupteacher/<%= group[i]._id %>/<%= user._id %>" class="btn btn-primary">อาจารย์</a></td>
                                                            <td><a href="/groupRout/groupstudent/<%= group[i]._id %>/<%= user._id %>" class="btn btn-primary">นิสิต</a></td>
                                                            <td><a href="/groupRout/deletegroup/<%= group[i]._id %>/<%= user._id %>" class="btn btn-danger">ลบ</a></td>
                                                        </tr>

                                                        <% } %>

                                                            <% } %>
                                            </tbody>

                                        </table>
                                        <% } %>
                                            <br>
                                            <a href="/groupRout/groupcreate/<%= user._id %>" class="btn btn-success">เพิ่มกลุ่มเรียน</a>


                </div>
            </center>
        </div>
    </div>
</body>

</html>