<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>จัดการรายวิชาที่เปิดสอบ</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="width: 50%; right: 0; padding: 0;margin-right: 0;" align="right">
                <h2>
                    <%= user.type %> <a href="/userRout" style="right: 0;" class="btn btn-success">logout</a></h2>
            </div>
            <div class="container">
                <h1 class="title">
                    <img src="https://lh5.googleusercontent.com/5uHYeEyLH244U5MvpngbUQUqfCzl0GVOPBKqVNObz7LkjOPKMazSxPrKL-1ztyNTpYMdheKgy3pM9pEcEquSj6hMw_H997VLIhQszJblblDpbs3YIgeWLbDgIWLOOLRn46qkFXNO" align="center" width="10%" height="10%">&emsp; จัดการรายวิชาที่เปิดสอบ
                    <br clear="left">
                </h1>
            </div>
            <div align="right">

            </div>

        </div>
    </section>



    <div class="container-fluid" style="margin-bottom: 100%;margin: 0%;">
        <div class="row" style="height: 543px;">
            <nav class="col-sm-2" style="background-color: black; width: 10%;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="/userRout/users/<%= user._id%>">จัดการบุคลากร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/buildRout/building/<%= user._id%>">จัดการตึก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/roomRout/room/<%= user._id%>">จัดการห้อง</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/subjectRout/subjects/<%= user._id%>">รายวิชา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/semesterRout/semester/<%= user._id%>">ปีการศึกษา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/examRout/exam/<%= user._id%>">การสอบ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/groupRout/group/<%= user._id%>">กลุ่มเรียน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/userRout/staff/<%= user._id%>">คุมสอบ</a>
                    </li>




                </ul>
            </nav>
            <center style="width: 83%;">

                <div class="container">

                    <label name="idsubject" id="idsubject"> </label>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td><b>รหัสวิชา</b></td>
                                <td><b>กลุ่มเรียน</b></td>
                                <td><b>ประเภทสอบ</b></td>

                                <td><b>นิสิต</b></td>
                                <td><b>ห้อง
                  </b></td>
                                <td><b>ผู้คุมสอบ</b></td>
                                <td><b>วันที่/เวลา</b></td>

                                <td></td>

                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i < exam.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= exam[i].ID_Subject.ID %>
                                    </td>

                                    <td>
                                        <% for(var j=0; j < exam[i].group.length; j++) { %>
                                            <%= exam[i].group[j].group %>
                                                <% } %>
                                    </td>

                                    <td>
                                        <%= exam[i].type %>
                                    </td>
                                    <td><a href="/examRout/addexamstuden/<%= exam[i]._id %>/<%= user._id %>" class="btn btn-primary">นิสิต</a></td>
                                    <td><a href="/examRout/addexamroom/<%= exam[i]._id %>/<%= user._id %>" class="btn btn-danger">ห้อง</a>
                                    </td>
                                    <td><a href="/examRout/addinvigilator/<%= exam[i]._id %>/<%= user._id %>" class="btn btn-danger">ผู้คุมสอบ</a></td>
                                    <td>
                                        <%=  exam[i].date  %> <br>
                                            <%= exam[i].timein %> -
                                                <%= exam[i].timeout %>
                                    </td>
                                    <td><a href="/examRout/deleteexam/<%= exam[i]._id %>/<%= user._id %>" class="btn btn-primary">ลบ</a>
                                    </td>


                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <br>
                    <a href="/examRout/createexam/<%= ID_subject %>/<%= user._id %>" class="btn btn-success">เพิ่มสอบ</a>
                    <a href="/examRout/exam/<%= user._id %>" class="btn btn-success">ยกเลิก</a>

                </div>
            </center>
        </div>
    </div>
</body>

</html>