<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ปีการศึกษา</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script async type="text/javascript" src="/semester.js"></script>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="width: 50%; right: 0; padding: 0;margin-right: 0;" align="right">
                <h2>
                    <%= user.type %> <a href="/userRout" style="right: 0;" class="btn btn-success">logout</a></h2>
            </div>
            <div class="container">
                <h1 class="title">
                    <img src="https://lh5.googleusercontent.com/5uHYeEyLH244U5MvpngbUQUqfCzl0GVOPBKqVNObz7LkjOPKMazSxPrKL-1ztyNTpYMdheKgy3pM9pEcEquSj6hMw_H997VLIhQszJblblDpbs3YIgeWLbDgIWLOOLRn46qkFXNO" align="center" width="10%" height="10%">&emsp; บันทึกปีการศึกษา
                    <br clear="left">
                </h1>
            </div>
            <div align="right">
                ปีการศึกษา
                <%= semester[0].year %> ภาคเรียน
                    <%= semester[0].semester %>
            </div>
        </div>
    </section>



    <div class="container-fluid" style="margin-bottom: 100%">
        <div class="row" style="height: 543px">
            <nav class="col-sm-2" style="background-color: black; width: 10%;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link " href="/userRout/users/<%= user._id%>">จัดการบุคลากร</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/buildRout/building/<%= user._id%>">จัดการตึก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/roomRout/room/<%= user._id%>">จัดการห้อง</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/subjectRout/subjects/<%= user._id%>">รายวิชา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/semesterRout/semester/<%= user._id%>">ปีการศึกษา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/examRout/exam/<%= user._id%>">การสอบ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/groupRout/group/<%= user._id%>">กลุ่มเรียน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  " href="/userRout/staff/<%= user._id%>">คุมสอบ</a>
                    </li>


                </ul>
            </nav>


            <div class="container">
                <form method="POST" id="semester1" action="/semesterRout/updatesemester/5ca35ad3fb6fc01d565f5bff/<%= user._id%>">
                    <div class="form-group">
                        <label for="item">ปีการศึกษา</label>
                        <input type="text" class="form-control" id="year" name="year" value="<%= semester[0].year %>">
                    </div>
                    <div class="form-group">
                        <label for="item">ภาคเรียน</label>
                        <input type="text" class="form-control" id="semester" name="semester" value="<%= semester[0].semester %>">
                    </div>



                    <div class="text-center">
                        <br>
                        <button type="button" class="button is-success  " onclick="checksemester()">เปลี่ยนปีการศึกษา</button>


                    </div>
                </form>
            </div>
        </div>
</body>

</html>