<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>นิสิต:
        <%= user.firstName %>
            <%= user.lastName%>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container" style="width: 50%; right: 0; padding: 0;margin-right: 0;" align="right">
                <h2>
                    <%= user.type %> <a href="/userRout" style="right: 0;" class="btn btn-success">logout</a></h2>
            </div>
            <div class="container">
                <h1 class="title">
                    <img src="https://lh5.googleusercontent.com/5uHYeEyLH244U5MvpngbUQUqfCzl0GVOPBKqVNObz7LkjOPKMazSxPrKL-1ztyNTpYMdheKgy3pM9pEcEquSj6hMw_H997VLIhQszJblblDpbs3YIgeWLbDgIWLOOLRn46qkFXNO" align="center" width="10%" height="10%">&emsp;
                    <%= user.firstName %>
                        <%= user.lastName%> <br clear="left">
                </h1>
            </div>

            <div align="right">


                <label for=""> ปีการศึกษา <%= semester[0].year %> ภาคเรียน <%= semester[0].semester %></label>
            </div>


















        </div>




        </div>
    </section>



    <div class="container-fluid" style="margin-bottom: 100%;margin: 0%;">
        <div class="row" style="height: 543px;">
            <nav class="col-sm-2" style="background-color: black; width: 10%;">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/userRout/studen/<%= user._id%>">ตารางสอบ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/userRout/examstuden/<%= user._id%>">คุมมสอบ</a>
                    </li>







                </ul>
            </nav>
            <center style="width: 83%;">
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td><b>รหัสวิชา</b></td>
                                <td><b>กลุ่ม</b></td>
                                <td><b>นั่งสอบ</b></td>
                                <td><b>วันที่</b></td>
                                <td><b>เวลาเริ่ม</b></td>
                                <td><b>เวลาสิ้นสุด</b></td>
                                <td><b>ห้อง</b></td>
                                <td><b>การสอบ</b></td>


                            </tr>
                        </thead>
                        <tbody>
                            <% console.log(exam.length)%>
                                <% for(var i=0; i < exam.length; i++) { %>

                                    <% for(var j=0; j < exam[i].student.length; j++) { %>

                                        <% if(user._id.equals(exam[i].student[j].ID._id)) { %>
                                            <tr>
                                                <td>
                                                    <%= exam[i].ID_Subject.ID %>
                                                </td>
                                                <td>
                                                    <%= exam[i].student[j].group %>
                                                </td>
                                                <td>
                                                    <%= exam[i].student[j].exam %>
                                                </td>
                                                <td>
                                                    <%= exam[i].date %>
                                                </td>
                                                <td>
                                                    <%= exam[i].timein %>
                                                </td>
                                                <td>
                                                    <%= exam[i].timeout %>
                                                </td>
                                                <td>
                                                    <%= exam[i].student[j].room.ID %>
                                                </td>
                                                <td>
                                                    <%= exam[i].type %>
                                                </td>



                                            </tr>
                                            <% } %>
                                                <% } %>
                                                    <% } %>
                        </tbody>
                    </table>
                    <br>


                </div>
            </center>


        </div>
    </div>
</body>

</html>